<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.7.1">
  <actions/>
  <description>Standalone InvoiceBinder Build Project (builds a standalone downloadable war file for user to host on their environment)&lt;br/&gt;&lt;br/&gt;&#xd;
Important - BUILD_TYPE parameter must be - &quot;dev&quot;, &quot;uat&quot; or &quot;prod&quot; &lt;br/&gt;&lt;br/&gt;&#xd;
Important - BUILD_BRANCH parameter must be - &quot;master&quot; or &quot;integration&quot; &lt;br/&gt;&lt;br/&gt;&#xd;
&#xd;
- builds core (dependency)&lt;br/&gt;&#xd;
- builds invoicebinder&lt;br/&gt;&#xd;
- builds invoicebindersignup&lt;br/&gt;&#xd;
- copies the war&apos;s for invoicebinder and invoicebindersignup to builds folder.&lt;br/&gt;&#xd;
- builds demo&lt;br/&gt;&#xd;
- copies the war&apos;s for demo to builds folder.&lt;br/&gt;&#xd;
- email build result&lt;br/&gt;&#xd;
&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>10</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILD_TYPE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>dev</string>
              <string>uat</string>
              <string>prod</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition plugin="validating-string-parameter@2.3">
          <name>BUILD_VERSION_MAJOR</name>
          <description></description>
          <defaultValue>1</defaultValue>
          <regex>^(0|[1-9][0-9]*)$</regex>
          <failedValidationMessage>Only numeric values are allowed BUILD_VERSION_MAJOR.</failedValidationMessage>
        </hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition>
        <hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition plugin="validating-string-parameter@2.3">
          <name>BUILD_VERSION_MINOR</name>
          <description></description>
          <defaultValue>1</defaultValue>
          <regex>^(0|[1-9][0-9]*)$</regex>
          <failedValidationMessage>Only numeric values are allowed BUILD_VERSION_MINOR.</failedValidationMessage>
        </hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILD_BRANCH</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>master</string>
              <string>integration</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition plugin="dynamicparameter@0.2.0">
          <name>CURRENT_DATE</name>
          <description></description>
          <__uuid>19cdf389-621c-4c7b-8450-6d92cc34b63a</__uuid>
          <__remote>false</__remote>
          <__script>new Date()</__script>
          <__localBaseDirectory serialization="custom">
            <hudson.FilePath>
              <default>
                <remote>/var/lib/jenkins/dynamic_parameter/classpath</remote>
              </default>
              <boolean>true</boolean>
            </hudson.FilePath>
          </__localBaseDirectory>
          <__remoteBaseDirectory>dynamic_parameter_classpath</__remoteBaseDirectory>
          <__classPath></__classPath>
          <readonlyInputField>false</readonlyInputField>
        </com.seitenbau.jenkins.plugins.dynamicparameter.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://manssster@bitbucket.org/invoicebinder/invoicebinder.git</url>
        <credentialsId>d8c9af6d-ff5b-49a5-9f3c-42332095a8d2</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>286a9fc7-1438-4632-a08f-cbcd6ce68f8f</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes/>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
mvn install:install-file -Dfile=invoicebinder/lib/gwt-visualization.jar -DgroupId=com.google.gwt.google-apis -DartifactId=gwt-visualization -Dversion=1.1.2 -Dpackaging=jar</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Maven>
      <targets>clean 
package
install</targets>
      <mavenName>/usr/bin/mvn</mavenName>
      <pom>bmgcore/pom.xml</pom>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>true</injectBuildVariables>
    </hudson.tasks.Maven>
    <hudson.tasks.Maven>
      <targets>clean 
package
-P$BUILD_TYPE</targets>
      <mavenName>/usr/bin/mvn</mavenName>
      <pom>invoicebinder/pom.xml</pom>
      <properties>buildVersion=${BUILD_VERSION_NUMBER}
buildDate=${CURRENT_DATE}</properties>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>true</injectBuildVariables>
    </hudson.tasks.Maven>
    <hudson.tasks.Maven>
      <targets>clean 
package
-P$BUILD_TYPE</targets>
      <mavenName>/usr/bin/mvn</mavenName>
      <pom>invoicebindersignup/pom.xml</pom>
      <properties>buildVersion=${BUILD_VERSION_NUMBER}
buildDate=${CURRENT_DATE}</properties>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>true</injectBuildVariables>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
      <command>mkdir -p &quot;$BUILD_DEPLOYMENT_FOLDER/invoicebinder ($BUILD_TYPE)/$BUILD_VERSION_NUMBER&quot;
mkdir -p &quot;$BUILD_DEPLOYMENT_LATEST/$BUILD_TYPE&quot;

cp invoicebinder/target/invoicebinder.war &quot;$BUILD_DEPLOYMENT_FOLDER/invoicebinder ($BUILD_TYPE)/$BUILD_VERSION_NUMBER&quot;
cp invoicebindersignup/target/ROOT.war &quot;$BUILD_DEPLOYMENT_FOLDER/invoicebinder ($BUILD_TYPE)/$BUILD_VERSION_NUMBER&quot;

cp -f invoicebinder/target/invoicebinder.war &quot;$BUILD_DEPLOYMENT_LATEST/$BUILD_TYPE&quot;
cp -f invoicebindersignup/target/ROOT.war &quot;$BUILD_DEPLOYMENT_LATEST/$BUILD_TYPE&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Maven>
      <targets>clean 
package
-P$BUILD_TYPE
-Pdemo-context</targets>
      <mavenName>/usr/bin/mvn</mavenName>
      <pom>invoicebinder/pom.xml</pom>
      <properties>buildVersion=${BUILD_VERSION_NUMBER}
buildDate=${CURRENT_DATE}</properties>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>true</injectBuildVariables>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
      <command>cp invoicebinder/target/invoicebinder.war &quot;$BUILD_DEPLOYMENT_FOLDER/invoicebinder ($BUILD_TYPE)/$BUILD_VERSION_NUMBER/demo.war&quot;
cp -f invoicebinder/target/invoicebinder.war &quot;$BUILD_DEPLOYMENT_LATEST/$BUILD_TYPE/demo.war&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.17">
      <recipients>invoicebinder@gmail.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.47">
      <recipientList>invoicebinder@gmail.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
      </configuredTriggers>
      <contentType>text/html</contentType>
      <defaultSubject>Build Results (InvoiceBinder) SUCCESS - Build  = ${ENV, var=&quot;BUILD_VERSION_MAJOR&quot;}.${ENV, var=&quot;BUILD_VERSION_MINOR&quot;}.${ENV, var=&quot;BUILD_NUMBER&quot;}, Build Type = $BUILD_TYPE</defaultSubject>
      <defaultContent>InvoiceBinder build ${ENV, var=&quot;BUILD_VERSION_MAJOR&quot;}.${ENV, var=&quot;BUILD_VERSION_MINOR&quot;}.${ENV, var=&quot;BUILD_NUMBER&quot;} has completed with status SUCCESS.&lt;br/&gt;&lt;br/&gt;
This build is for configuration ($BUILD_TYPE)&lt;br/&gt;
The new build is available at &lt;a href=&quot;file:///$BUILD_DEPLOYMENT_FOLDER&quot;&gt;file:///$BUILD_DEPLOYMENT_FOLDER&lt;/a&gt;&lt;br/&gt;
Please see the attached build log file for more information.&lt;br/&gt;&lt;br/&gt;
Regards,&lt;br/&gt;
Build Machine (Jenkins)&lt;br/&gt;</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>true</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo></replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
      <matrixTriggerMode>ONLY_PARENT</matrixTriggerMode>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.30">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <org.jvnet.hudson.tools.versionnumber.VersionNumberBuilder plugin="versionnumber@1.7.2">
      <versionNumberString>${BUILD_VERSION_MAJOR}.${BUILD_VERSION_MINOR}.${BUILD_NUMBER}</versionNumberString>
      <projectStartDate>1969-12-30 14:00:00.0 UTC</projectStartDate>
      <environmentVariableName>BUILD_VERSION_NUMBER</environmentVariableName>
      <environmentPrefixVariable></environmentPrefixVariable>
      <oBuildsToday></oBuildsToday>
      <oBuildsThisWeek></oBuildsThisWeek>
      <oBuildsThisMonth></oBuildsThisMonth>
      <oBuildsThisYear></oBuildsThisYear>
      <oBuildsAllTime></oBuildsAllTime>
      <skipFailedBuilds>false</skipFailedBuilds>
      <useAsBuildDisplayName>true</useAsBuildDisplayName>
    </org.jvnet.hudson.tools.versionnumber.VersionNumberBuilder>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>