<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.7.1">
  <actions/>
  <description>&gt; Deploy war file to tomcat instance. based on the BUILD_TYPE&lt;br/&gt;&#xd;
&gt; Please note deployment can be done to DEV, UAT or PROD environment.&lt;br/&gt;&#xd;
&gt; BUILD_TYPE parameter must be &quot;dev&quot;, &quot;uat&quot; or &quot;prod&quot;&lt;br/&gt;&#xd;
&gt; Deployment wars are picked up from the latest invoicebinder build.&lt;br/&gt;&lt;br/&gt;&#xd;
[Process]&lt;br/&gt; &#xd;
- deploy ROOT war. (webinvoicesignup) &lt;br/&gt;&#xd;
- deploy invoicebinder war.&lt;br/&gt;&#xd;
- copy invoicebinder.war to pack location for download.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILD_TYPE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>dev</string>
              <string>uat</string>
              <string>prod</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>SSH_SERVER</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>localhost</string>
              <string>bmguat</string>
              <string>neptune</string>
              <string>mars</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SSH_USER</name>
          <description></description>
          <defaultValue>mon2</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>ed37a97a-18d3-4bec-98d8-383734157e44</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes/>
  <builders>
    <hudson.tasks.Shell>
      <command>#1. add host key for tomcat server in the jenkins build machine
mkdir -p ~/.ssh
ssh-keyscan -H $SSH_SERVER &gt;&gt; ~/.ssh/known_hosts 

#2. deploy ROOT application 
scp -v -i /var/lib/jenkins/.ssh/ibkey $BUILD_DEPLOYMENT_LATEST/$BUILD_TYPE/ROOT.war $SSH_USER@$SSH_SERVER:$TOMCAT_WEBAPPS/ROOT.war

#3. deploy DEMO application
scp -v -i /var/lib/jenkins/.ssh/ibkey $BUILD_DEPLOYMENT_LATEST/$BUILD_TYPE/demo.war $SSH_USER@$SSH_SERVER:$TOMCAT_WEBAPPS/demo.war

</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#1. cleanup and create a download folder for war file on the remote server if not exists
ssh -v -i /var/lib/jenkins/.ssh/ibkey $SSH_USER@$SSH_SERVER &apos;rm -R -f &apos;$TOMCAT_WEBAPPS&apos;/downloads&apos;
ssh -v -i /var/lib/jenkins/.ssh/ibkey $SSH_USER@$SSH_SERVER &apos;mkdir -p &apos;$TOMCAT_WEBAPPS&apos;/downloads&apos;

#2. deploy downloadable invoicebinder package application.
scp -v -i /var/lib/jenkins/.ssh/ibkey $BUILD_DEPLOYMENT_LATEST/$BUILD_TYPE/invoicebinder.war $SSH_USER@$SSH_SERVER:$TOMCAT_WEBAPPS&apos;/downloads/invoicebinder.war&apos;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.47">
      <recipientList>invoicebinder@gmail.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.CulpritsRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>text/html</contentType>
      <defaultSubject>Deployment Results (InvoiceBinder) SUCCESS - Build = ${ENV, var=&quot;BUILD_VERSION_MAJOR&quot;}.${ENV, var=&quot;BUILD_VERSION_MINOR&quot;}.${ENV, var=&quot;BUILD_NUMBER&quot;}, Build Type = $BUILD_TYPE</defaultSubject>
      <defaultContent>InvoiceBinder build ${ENV, var=&quot;BUILD_VERSION_MAJOR&quot;}.${ENV, var=&quot;BUILD_VERSION_MINOR&quot;}.${ENV, var=&quot;BUILD_NUMBER&quot;} has been deployed successfully.

This deployment is for configuration $BUILD_TYPE

Regards,
Builder (Jenkins)</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>true</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
      <matrixTriggerMode>ONLY_PARENT</matrixTriggerMode>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>